#result{
 background-color:  #000000;
 width:300px;
 height:40px;
 text-align: right;
 margin:0 auto;
 font-size: x-large;
 border:solid 1px #A9A9A9;
 border-radius:5px;
 line-height: 40px;
 color: #fff;
}

button {
 width: 75px;
 height: 40px;
 font-size: 20px;
 background-color: #dcdcdca4;
 border-radius: 8px;
}

.allclear{
 width:150px;
}
.equal{
 width:150px;
}